<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="ch.actifsource.core.RegisterModel">
      <ResourceFolder
            path="asrc">
      </ResourceFolder>
   </extension>
   <extension
         point="ch.actifsource.environment.RegisterBuiltin">
      <Builtin
            defaultBuiltin="false"
            isExtendable="true"
            name="CustomEclipseModel">
         <Plugin
               pluginId="ch.actifsource.example.generator.metamodel">
         </Plugin>
      </Builtin>
   </extension>

</plugin>
