<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="eclipse-2021-12">
	<locations>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://download.eclipse.org/releases/2021-12"/>
			<unit id="org.eclipse.equinox.sdk.feature.group" version="3.23.200.v20211117-0650"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://anb0s.github.io/EasyShell/release/2.2/"/>
			<unit id="de.anbos.eclipse.easyshell.feature.feature.group" version="2.2.1.v20210716-0745"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://download.eclipse.org/tools/orbit/downloads/2021-12/"/>
			<unit id="org.apache.batik.bridge" version="1.14.0.v20210324-0332"/>
			<unit id="org.apache.batik.dom" version="1.14.0.v20210324-0332"/>
			<unit id="org.apache.batik.dom.svg" version="1.14.0.v20210324-0332"/>
			<unit id="org.apache.batik.ext.awt" version="1.9.1.v20190730-1743"/>
			<unit id="org.apache.batik.svggen" version="1.14.0.v20210324-0332"/>
			<unit id="org.apache.batik.transcoder" version="1.14.0.v20210324-0332"/>
			<unit id="org.apache.batik.util.gui" version="1.9.1.v20190730-1743"/>
			<unit id="org.apache.batik.xml" version="1.14.0.v20210324-0332"/>
			<unit id="org.w3c.dom.smil" version="1.0.1.v200903091627"/>
			<unit id="org.w3c.dom.svg" version="1.1.0.v201011041433"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://download.eclipse.org/mpc/releases/1.9.2/"/>
			<unit id="org.eclipse.epp.mpc.feature.group" version="1.9.2.v20210826-0851"/>
		</location>
	</locations>
	<targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-11"/>
</target>